@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:wght@400;700&family=Poiret+One&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    color:rgb(48, 45, 25);
    overflow-x: hidden;
}
.social-media{
    width:100%;
    position:absolute;
    top:4%;
    display: flex;
    justify-content: center;
    gap:20px;
}
.social-media img{
    width:20px;
}
.home{
    padding:25px;
    height:100vh;
    display: grid;
    place-content: center;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    gap:50px;
    overflow:hidden;
}
nav {
    font-family: 'Poiret One', cursive;
    font-size:60px;
    padding:0 20px;
    display:grid;
    align-items: center;
    text-align: center;
}
ul{
    padding:0 30px;
    display:grid;
    align-items: center;
    border:1px solid;
}
li{
    list-style: none;
}
.address{
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing:2px;
    text-align: center;
    margin-top:-40px;
}
.tagline , 
.name{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing:2px;
    text-align: center;
}
.name::after{
    content:'';
    position: absolute;
    display:block;
    left:50%;
    margin-right: -50%;
    transform: translateX(-50%);
    margin-top:10px;
    background-color: rgba(48, 45, 25);
    height:1px;
    width:75px;
}