@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato:wght@400;700&family=Poiret+One&display=swap');

:root {
    --text-color:rgba(48, 45, 25);
    --cursor:#db5461;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    padding:0;
    margin:0;
    background-color: rgb(55, 54, 46);
}
body{
    display:grid;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    color:rgb(48, 45, 25);
    font-size:14px;
}
.bg{
    content:'';
    position:absolute;
    height:100vh;
    width:100%;
    top:0;
    left:0;
    background-image: url('bg.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:-1;
    animation:slidein 1s;
    animation-timing-function: cubic-bezier(1,0.1,0.5,1);
}
@keyframes slidein {
    from{
        opacity:0}
    to{
        opacity:1;}
}
.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}
.cursor-dot {
  width:10px;
  height:10px;
  background-color: var(--cursor);
}

.cursor-dot-outline {
    width: 40px;
    height: 40px;
    background-color:none;
    border:1px solid var(--cursor);
}
.social-media{
    gap:20px;
    position: absolute;
    top:5%;
    left:50%;
    margin-right: -50%;
    text-align: center;
    animation: fadesocialmedia 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}
@keyframes fadesocialmedia {
    from {opacity: 0;
    transform: translate(-50%,-100%)}
    to {opacity:1;
    transform: translate(-50%,0)}
}
.social-media img{
    width:20px;
}

.content{
    animation: fadecontent 0.85s;
    animation-delay: 0.65s;
    animation-fill-mode: both;
}
@keyframes fadecontent {
    from {opacity: 0;
        transform:translateY(50%);    
    }
    to {opacity:1;
        transform:translateY(0%) 
    }
}
.tagline {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing:2px;
    text-align: center;
    padding:0 10px;
}
nav {
    font-family: 'Poiret One', cursive;
    font-size:60px;
    display:grid;
    text-align: center;
    margin:32px 0;
    padding:0 24px;
}
nav a{
    text-decoration: none;
    color:rgba(48, 45, 25);
}
nav a:hover{
    font-style: italic;
    background-color:rgba(48, 45, 25);
    color:white;
    transition:  300ms cubic-bezier(.5, 0, .5, 1);

}
.name{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing:2px;
    text-align: center;
}
.name{
    display:grid;
    gap:32px;
}
.name::after{
    content:'';
    position: absolute;
    display:block;
    left:50%;
    margin-right: -50%;
    transform: translateX(-50%);
    margin-top:30px;
    background-color: rgba(48, 45, 25);
    height:1px;
    width:75px;
}
.address{
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing:2px;
    text-align: center;
    padding:0 20px;
}
@media(min-width:1280px){
    body{
        font-size:16px;
    }
    nav{
        font-size:92px;
    }

    

}